version: "3.8"
services:
  traefik:
    image: traefik:latest
    container_name: traefik
    restart: always
    ports:
    - "80:80"
    - "443:443"
    volumes:
      - ./traefik.yml:/traefik.yml:ro
      - ./dynamic:/dynamic:ro
      - ./acme:/acme
      - ./logs:/logs
    env_file:
      - .env
    command:
      - "--configFile=/traefik.yml"
    entrypoint: ["/bin/bash", "/entrypoint.sh"]