http:
  routers:
    ovpn-router:
      rule: "Host(`${OPENVPN_HOST}`) && !(PathPrefix(`/static/`) || PathPrefix(`/media/`))"
      entryPoints: 
        - websec
      service: ovpn-starter
      tls:
        certResolver: letsencrypt
    http-redirect:
      rule: "Host(`${OPENVPN_HOST}`) && PathPrefix(`/`) && !PathPrefix(`/.well-known/acme-challenge/`)"
      entryPoints:
        - web
      middlewares:
        - redirect-to-https
    static-router:
      rule: "Host(`${OPENVPN_HOST}`) && (PathPrefix(`/static/`) || PathPrefix(`/media/`))"
      entryPoints:
        - websec
      service: nginx-static
      tls:
        certResolver: letsencrypt