http:
  routers:
    ovpn-router:
      rule: "Host(`${OPENVPN_HOST}`)"
      entryPoints: 
        - websec
      service: ovpn-starter
      tls:
        certResolver: letsencrypt
      middlewares:
        - redirect-to-https
    http-redirect:
      rule: "Host(`${OPENVPN_HOST}`)"
      entryPoints: 
        - web
      service: noop
      middlewares:
        - redirect-to-https