http:
  services:
    ovpn-starter:
      loadBalancer:
        servers:
          - url: https://${OPENVPN_IP}:${OPENVPN_PORT}
        passHostHeader: true

    noop:
      loadBalancer:
        servers:
          - url: "http://127.0.0.1"