http:
  services:
    ovpn-starter:
      loadBalancer:
        servers:
          - url: http://${OPENVPN_IP}:${OPENVPN_PORT}/index/
        passHostHeader: true
    nginx-static:
      loadBalancer:
        servers:
          - url: http://${OPENVPN_IP}:80